<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easytel</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Welcome to your homepage <%= locals.name  %>!</h1>

    <form action="/hotels" method="get">
        <button type="submit">Hotels</button>
    </form>

    <form action="/restaurant" method="get">
        <button type="submit">Restaurant</button>
    </form>

    <form action="/reservations" method="get">
        <button type="submit">Reservation History</button>
    </form>

    <form action="/points" method="get">
        <button type="submit">Points</button>
    </form>

    <form action="/qrcode" method="get">
        <button type="submit">Your QR Code</button>
    </form>

    <form action="/profile" method="get">
        <button type="submit">Profile</button>
    </form>

    <form action="/logout" method="get">
        <button type="submit">Logout</button>
    </form>
</body>
</html>