<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easytel</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script>
        // Get the message from the query string
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('message');
      
        // Display the message in a popup if there is one
        if (message) {
          alert(message);
        }
      </script>
</head>
<body>
    <h1>Welcome to Easytel!</h1>

    <form action="/login" method="get">
        <button type="submit">Login</button>
    </form>

    <form action="/register" method="get">
        <button type="submit">Register</button>
    </form>

</body>
</html>