<!DOCTYPE html>
<html lang="en">
<head>
    <title>Easytel: QR</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div id="qrcode" class="section-box qrcode-container">
        <img src="<%= qrImage %>" alt="QR code">
    </div>

</body>
</html>