<head>

</head>

<body>
    <div class="input-group section-box image-type">
        <label for="image-type">ID Type:</label>
        <input type="text" class="textbox" name="image-type" id="image-type">
    </div>

    <div class="input-group">
    <h1>Front Image</h1>
        <div class="section-box front-image">
            <input type="file" name="front">
        </div>
    </div>

    <div class="input-group">
        <h1>Back Image</h1>
        <div class="section-box back-image">
            <input type="file" name="back">
        </div>
    </div>

</body>