<head>
    <title>Easytel User ID</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>

<body>
    <h1>User Profile</h1>

    <form action="editID" method="POST" class="uploadID">
        <div class="idType section-box">
            <label for="idType">ID Type</label>
            <input type="text" id="idType" name="idType" class="textbox" required>
        </div>

        <h1>Front</h1>
        <div class="image-group section-box">

            <label for="frontID">
                <img src="/images/id.png" id="frontImage">
            </label>
            <input type="file" name="frontID" id="frontID" required>
        </div>

        <h1>Back</h1>
        <div class="image-group section-box">

            <label for="backID">
                <img src="/images/id.png" id="backImage">
            </label>
            <input type="file" name="backID" id="backID" required>
        </div>

    </form>

    <div class="buttons">
        <form action="dash" method="get">
            <button type="submit">Back</button>
        </form>
        <form action="editID" method="post">
            <button type="submit">Save</button>
        </form>
    </div>

    <script src="/scripts/addid.js"></script>
</body>



