<head>
    <title>Easytel User ID</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<link rel="stylesheet" href="/styles/style.css">
<h1>User Profile</h1>
<div class="section-box" id="user-data">
    <label for="idType">ID Type</label>
    <input type="text" id="idType" name="idType">

    <h1>Front</h1>
    <input type="file" name="" id="">
    <h1>Back</h1>
</div>

<div class="buttons">
    <form action="dash" method="get">
        <button type="submit">Back</button>
    </form>
    <form action="edit" method="get">
        <button type="submit">Edit</button>
    </form>
</div>




