<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Easytel Hotels</title>
</head>
<body>
    <header>
        <img src="/images/logo.png" alt="logo">
    </header>
    <form id="reservation_form" method="POST" action="hotels" name="reservation_form" autocomplete="on">

        <div class="section-box">
            <div class="input-group">
                <label for="checkin"><h3>When will you check-in?</h3></label>
                <input class="textbox" type="date" id="checkin" name="checkin">
            </div>

            <div class="input-group">
                <label for="checkout"><h3>When will you check-out?</h3></label>
                <input class="textbox" type="date" id="checkout" name="checkout">
            </div>

            <div class="input-group divided">
                <div class="divider">
                    <label for="adults">Adults</label>
                    <input class="textbox" type="number" name="adults" id="adults" value="1">
                </div>
                <div class="divider">
                    <label for="children">Children</label>
                    <input class="textbox" type="number" name="children" id="children" value="0">
                </div>
            </div>
        </div>
    </form>

    <div class="buttons">
        <input value="Save" class="submit" id="reservation_button" name="reservation_button" type="submit" form="reservation_form">

        <form action="dash" method="get">
            <button type="submit">Back</button>
        </form>
    
    </div>
</body>
</html>