

<head>
    <title>Easytel Points</title>
    <link rel="stylesheet" href="/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
    <img src="/images/logo.png" alt="logo">
</header>
<h1>Points Earned</h1>

<form action="dash" method="get">
    <button type="submit">Back</button>
</form>
