

<head>
    <title>Easytel Points</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<h1>Points Earned</h1>

<form action="dash" method="get">
    <button type="submit">Back</button>
</form>
