<head>
    <title>Reservations</title>
    <link rel="stylesheet" href="/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Bookings</h1>
    <div id="bookings">
        <% if (bookings.length > 0) { %>
        <div class="booking-row">
            <% bookings.forEach(function(booking) { %>
            <p class="section-box"><strong>Booking ID:</strong> <%= booking.id %><br>
                <strong>Check-in:</strong>  <%= booking.checkin %><br> <strong>Check-out: </strong><%= booking.checkout %></p>
            <% }); %>
            
        </div>
        <% } else { %>
        <p>No bookings found.</p>
        <% } %>
    </div>
    <form action="dash" method="get">
        <button type="submit">Back</button>
    </form>
</body>
