<!DOCTYPE html>
<html lang="en">
<head>
    <header>
        <img src="/images/logo.png" alt="logo">
    </header>
    <title>Your QR Code</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div id="qrcode" class="section-box qrcode-container">
        <img src="<%= qrImage %>" alt="QR code">
    </div>
    
    <form action="dash" method="get">
        <button type="submit">Back</button>
    </form>

</body>
</html>