
:root {
    --color1: rgb(0, 74, 148);
    --color2:rgb(245, 110, 148);
    --color3: rgb(244, 231, 12); /* background */
    --color4: rgb(3, 209, 235);
    --color5: rgb(251, 235, 235);
}

@font-face {
    font-family: Manrope;
    src: url(Manrope-VariableFont_wght.ttf);
}

body{
    background-color: var(--color3);
    font-family: Manrope;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;
}

body > * {
    margin: 10px;
}


/* default section behaviour */
.section-box{
    min-width: 90px;
    max-width: 350px;
    min-height: auto;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 3px;
    background-color: var(--color4);
    box-shadow: 8px 10px var(--color2); /* adds shadow */
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.buttons{
    flex:1;
    justify-content: space-between;
}

.divided {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.divider {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

  /* Add left margin to .divider elements that come after another .divider element */
.divider + .divider {
    margin-left: 20px; 
}
  
.divider #birthday,
.divider select {
    height: 32px;
}

.textbox {
    margin-top: 5px;
    border: none;
    height: 30px;
    width: 100%;
}

.submit, .back, button, input[type=submit]{
    border-radius: 3px;
    font-size: 20px;
    border: none;
    width: 130px;
    height: 50px;
}

.submit, input[type=submit]{
    background-color: var(--color4);
    box-shadow: 8px 10px var(--color2);
}

.submit:hover, input[type=submit]:hover{
    background-color: var(--color2);
    box-shadow: 5px 10px var(--color4);
}

.back, button {
    background-color: var(--color2);
    box-shadow: 5px 10px var(--color4);
}

.back:hover, button:hover  {
    background-color: var(--color4);
    box-shadow: 5px 10px color2;
}

.error.message {
    color: red;
}
.qrcode-container{
    display: flex;
    justify-content: center;
}

.qrcode-container img{
    display: block;
    margin: 0 auto;
}

#reader{
    border: none !important;
}
#html5-qrcode-select-camera{
    margin-bottom: 40px !important;
}
#html5-qrcode-anchor-scan-type-change{
    margin-top: 30px !important;
}
#reader img:first-of-type {
    visibility: hidden !important;
}
@media only screen and (max-width: 750px) {
    .section-box{
        max-width: 100%;
        width: 90% !important;
    }
}