<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easytel Dashboard</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Welcome to your dashboard!</h1>

    <form action="reservations" method="get">
        <button type="submit">Reservations</button>
    </form>

    <form action="walk-in" method="get">
        <button type="submit">Walk-ins</button>
    </form>

    <form action="readQR" method="get">
        <button type="submit">Scan QR Code</button>
    </form>

    <form action="/logout" method="get">
        <button type="submit">Logout</button>
    </form>
</body>
</html>