<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easytel Dashboard</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <img src="/images/logo.png" alt="logo">
    </header>

    <form action="reservations" method="get">
        <button type="submit">Reservations</button>
    </form>

    <form action="readQR" method="get">
        <button type="submit">Walk-ins</button>
    </form>

    <form action="checkout" method="get">
        <button type="submit">Checkout</button>
    </form>

    <form action="checkout-update" method="get">
        <button type="submit">Update Check-out</button>
    </form>
    
    <form action="guest" method="get">
        <button type="submit">Guest</button>
    </form>

    <form action="/logout" method="get">
        <input type="submit" name="Logout" id="Logout" value="Logout">
    </form>
</body>
</html>